

/********************* TEXT-FORMATTING *********************************/

.text-white {
    color:#fff;
}

.text-grey, .text-gray {
    color:#cdcdcd;
}

.text-green{
    color:#23cd83;
}
.text-red {
    color: #bc0909;
}

.text-orange {
    color: #ff6622;
}

.text-yellow {
    color: #ddbb99;
}

.text-brown {
    color: #ff3300;
}

.text-blue {
    color: #0000ff;
}

.text-black {
    color: #000;
}

.text-light-blue {
    color: #1111dd;
}

.text-deep-blue {
    color: #2323ba;
}

.text-royal-blue{
    color: royalblue
}

.text-navy{
    color: navy;
}

.text-sm{
    font-size: 13px;
}

.text-md{
    font-size: 18px;
}

.content-container{
    margin: 15px;
}

.col-one-half.sidebar-left-fixed{
    top:0;
    height:100%;
    width:8%;
    position:static;
    margin-right: 2em;
    background-color:#111;
    padding:12px;
    position:fixed;
    z-index:150;
    left:0;
}

/************************** MISC CONTENT ************************/

.badge{
    color: #23dc90;
}

.img-square{
    border-radius: 2px;
    width: 30px;
    height: 32px;
}

.img-circle{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.img-round{
    max-width: 100%;
    border-radius:4px;
}

@media (max-width:320px){

    .img-round.event-img{
        max-height: 220px;
    }

    .text-adjust{
        font-size: 90%;
    }
}

@media (min-width:768px) and (max-width: 992px){

    .img-round.event-img{
        max-height: 300px;
    }
}

.line-thru{
    text-decoration:line-through;
}
.input-text {
    width:100%;
    border-radius:3px;
    height:2.5em;
    border:1px solid #ccc;
    margin-bottom: 15px;
    padding-left:8px;
}

.input-text:focus {
    border:1px solid #0069d9;;
}

a {
    color: #333;
    font-size:16px;
}

a:hover{
    color:#ff8844;
    text-decoration:none;
}

.hover-light-grey:hover{
    background-color:#efefef;
}

/************************ FOOTER **********************/

.footer{
    background-color:#111;
    padding: 2em;
}

.footer-list li, .footer-list li a {
    list-style-type: none;
    color:#aaa;
    font-size: 0.95em;
}

.footer h5{
    font-size: 1.2em;
    text-align: left;
}
.footer-list li a:hover{
    color:#ff8844;
}

.footer-1 li, footer-1 li a {
    list-style-type: none;
    display: inline-block;
    color:#aaa;
    font-size: 1em;
}

.footer-1 {
    background-color: #000;
    padding:2em;
}

@media (max-width: 320px){
    
    .hide-sm{
        display: none;
    }
    
    .container.login{
        margin-top: 5%;
    }
   
    .btn-card{
        box-shadow: none;
        background-color: #fff;
    }
    .splash-img{
       background-color: #dfdfdf;
       background-image: none;
       color: #000;
    }

    .card.login{
        font-size: 1em;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }

    .login input{
        background-color: rgba(250,250,250,0.75);
        border: 1.2px solid rgba(190,190,190,0.95);
    }

    .login input:focus{
        border: 2px solid #191;
    }
}
